extends layout

block content


    .top-nav
        a(href="/") 
            button.evil-or-not-button.btn.btn-primary Back to the Game
        a(href="/standings")  
            button.standings-button.btn.btn-warning Standings

    .container.col-sm-8.col-sm-offset-2
        .row
            h1.text-center #{msg}
            
        .row
            a(href="/uploadImage") 
                button Upload Image your own EVIL or NOT character
            
        
