extends layout

block content

  body
      .top-nav
          a(href="/") 
              button.evil-or-not-button.btn.btn-primary Back to the Game
          a(href="/standings")  
              button.standings-button.btn.btn-warning Standings
             
      .container.col-sm-8.col-sm-offset-2
          .row
              h1.text-center EVIL or NOT?
              #game-wrapper
                  #image-wrapper
                      img.dr-ford-image(src="images/dr_ford.png")
                  #character-name.text-center 
                      h3 Dr. Ford - Westworld
                  #buttons-wrapper.text-center
                      button.evil-button.btn.btn-danger EVIL!
                      span or
                      button.not-evil-button.btn.btn-success NOT!
              
      
      
      
