extends layout

block content

  body
      .top-nav
          a(href="/") 
              button.evil-or-not-button.btn.btn-primary Back to the Game
          a(href="/standings")  
              button.standings-button.btn.btn-warning Standings
